.NavigationItem {
    margin: 0;
    padding: 8px 16px;
    display: inline-block;
}

.NavigationItem a {
    text-decoration: none;
    color: #fc042d;
    font-family: 'Open Sans';
    font-size: 1.2rem;
    letter-spacing: 1.75px;
    padding: 3px;
    transition: all 0.3s ease-in;
}

.NavigationItem a:hover, a:active, a.Active {
    border-bottom: none;
    border-bottom-width: 50%;
}

.NavigationItem a:active, a.Active {
    font-weight: bold;
}

@media(min-width: 1000px) {
    .NavigationItem a {
        color: white
    }
    .NavigationItem a:hover, a:active, a.Active {
        border-bottom: 2px solid #fc042d;
    }
}