.SocialMedia {
    text-align: center;
}

.SocialMedia ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  
}

.SocialMedia ul li {
    margin: 5px;
}

.SocialMedia ul li i {
    position: relative;
    top: 25%;
    left: 0%;
}

.SocialMedia ul li a {
    font-size: 18px;
    display: block;
    text-align: center;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    position: relative;
    background: #3b5998;
    text-decoration: none;
    color: white;
}