.ConfirmPassword {
    width: 100%;
    padding: 16px 32px;
    background: linear-gradient(rgb(32, 10, 36), rgba(17, 17, 38, 0.87));
}

.Content {
    margin-top: 64px;
}

.Label {
    margin: 16px 0;
    color: white;
}

.InputArea {
    max-width: 500px;
    margin: auto;
}

.Title {
    font-size: 1.8rem;
    color: white;
    margin: 32px 0;
    padding: 0;
    font-weight: normal;
}

.CheckBox {
    align-self: flex-start;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CheckBox input {
    height: 25px;
    width: 25px;
}

.CheckBox span {
    color: white;
    margin: 0 8px;
}

.ConfirmPasswordButton {
    margin: 32px 0;
}

@media(min-width: 1000px) {
    .ConfirmPassword {
        height: 100vh;
    }
}